* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

nav{
  margin-top: 0;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 2px;
  background-color: antiquewhite;
  position:fixed;
  width: 100%;
  top: 0;
    z-index: 1000;

}
.logo{
  padding: 3rem;
  /* text-align: center; */
    height: 50px;
    padding-top: 0;
    

}
.logo img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.navbar-content{
  display: flex;
  align-items: center;

}
.navbar-content ul{
  display: flex;          
  gap: 6rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar-content li{
  cursor: pointer;

}
.navbar-content li:hover{
  color: red;
}

.main-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* border: 1px solid black; */
    overflow:scroll;
    margin-top: 60px;
    padding: 20px;

}
.items{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.cart{
    border: 1px solid black;
    padding: 2rem;
    background-color: rgb(235, 235, 235);

}

.cartitems{
  display: flex;
  flex-direction:column ;
  gap: 2rem;
  margin-top: 2rem;
}

.cartcards{
  display: flex;
  gap: 2rem;
}

#QytIncrease{
  background-color: rgb(117, 116, 116);
  height: 1.5rem;
  width: 2rem;
  text-align: center;
  margin-left: 5px;
  cursor: pointer;
  color: white;

}
#QytDecrease{
  background-color: rgb(117, 116, 116);
  height: 1.5rem;
  width: 2rem;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  color: white;

}
#total{
  text-align: center;
  margin-top: 4rem;
}